body{
    background-color: #ffff;
}

.md-layout-item{
    width: 10%;
}

.md-list {
    width:40%;
    display: inline-block;
    vertical-align: top;
    border: 1px solid rgba(#000, .12);
    margin: 0 auto !important;
  }

select{
      border : none;
      outline:none;
      width: 20%;
}